/* IMPORT FONTS */
@font-face {
    font-family: "Montserrat-Light";
    src: url(../FONTS/Montserrat/Montserrat-Light.ttf);
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url(../FONTS/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url(../FONTS/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: "Montserrat-SemiBold";
    src: url(../FONTS/Montserrat/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: "PlayfairDisplay-Italic";
    src: url(../FONTS/Playfair_Display/static/PlayfairDisplay-Italic.ttf);
}

/* Scrollbar width reduced---snippet-- */


::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.modal-header{
    padding:0.5rem 1rem !important;
}
.close:focus{
    outline: none;
}
.main-container{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    /*background-color: #f8fafb;*/
    background-image: url(../IMG/leaderboard.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    position: sticky;
    top: 0;
    background-color: #172a77 !important;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 16px 11px rgba(0,0,0,0.66);
    z-index: 999;

}
.navbar-light .navbar-nav .nav-link{
    color: #ffffff;
}
.navbar-light .navbar-nav .nav-link:hover{
	color: #666666;
}
.active{
    color: #000;
}
.navbar button[aria-expanded="false"] > .close{
    display:none;
}
.navbar button[aria-expanded="true"] > .open{
    display:none;
}
.nav-link,.dropdown-item,.navbar-brand{
   font-family: "Montserrat-Regular";
}

.a1{
    width: 100%;
    height: 100%;
}

h1,#lottery h3,.modal-title,.modal-body button,button,h2{
    font-family: "Montserrat-Bold";
}
h1{
	color: #1773d1 !important;
}
h2{
	color: #ffffff;
	text-align: center;
}
.modal-body h4{
    font-family: "Montserrat-SemiBold";
}
input,input::placeholder{
    font-family: "Montserrat-Light";
}
textarea,textarea::placeholder{
    font-family: "PlayfairDisplay-Italic";
}
.instruct,.selstrong{
    font-family: "Montserrat-Regular";
}
option{
    font-family: "Montserrat-Regular";
    font-size: 15px;   
}

td{
    font-size: 17px;
    font-family: "Montserrat-Light";
    color: #ffffff;
    text-align: center;
}
th{
    font-size: 22px;
    font-family: "Montserrat-SemiBold";
    color: #1773d1;
    border: solid 1px #666666;
    text-align: center;
}

#challenges,#leaderboards,#lottery{
    display: none;
}
/* ,*/


/* Leaderboard page */
.pull-right{
	display: flex;
	justify-content: center;
}
.pull-right a{
    background-color: #278036;
    color: #ffffff;
}
.pull-right a:hover{
    color: #ffffff;
    background-color: #1f722c;
}

#leaderboards td,#challenges td,#posts td{
    color: #ffffff;
    text-align: center;
}
.tebtn,.backbtn{
    background-color: #ffffff;
    color: #026852;
}
.tebtn:hover,.backbtn:hover{
    background-color: #026852;
    color: #ffffff;
}


/* backbtn */
.backbtn{
    border: 2px solid #026852;
}
.subbtn,.lotbtn{
    background-color: #278036;
    color: #ffffff;
}
.subbtn:hover,.lotbtn:hover{
    background-color: #1f722c;
    color: #ffffff;
}

.adimg,.adtext,.adposts,.useposts{
    display: none;
}

/*table*/
table { 
    border-collapse: separate; 
    border-spacing: 0;
}
td {
    border: solid 1px #666666;
    padding: 10px;
    color: #e6e6e6;
    vertical-align: middle !important; 
}

tr:first-child th:first-child { 
    border-top-left-radius: 20px; 
}
tr:first-child th:last-child { 
    border-top-right-radius: 20px; 
}
tr:last-child td:first-child { 
    border-bottom-left-radius: 20px; 
}
tr:last-child td:last-child { 
    border-bottom-right-radius: 20px; 
}



/*Modal*/
.modal-header{
    padding:0.5rem 1rem !important;
}
.modal-title{
    font-family: "Montserrat-Bold";
    color: #ffffff;
}
.modal-body h5,.modal-body h4{
    font-family: "Montserrat-SemiBold";
    font-size: 17px;
    color: #cccccc;
}
.modal-body button{
    font-family: "Montserrat-Bold";
    border-radius: 20px;
}
.modal-content{
    background-color: rgba(23,29,38,0.94);
    border-radius: 40px;
    padding:0.2rem 0.5rem;
    box-shadow: 7px 7px 4px rgba(0,0,0,0.35);
}
.close{
    color: #ffffff;
    background-color: transparent !important;
}

.btn{
	border-radius: 20px;
	font-family: "Montserrat-Bold";
}
table .btn{
	margin: 0 0.3rem;
	width: 35%;
}

.btn-success{
	background-color: #278036 !important;
	color: #ffffff;
}
.btn-success:hover{
	background-color: #1f722c;
    color: #ffffff;
}
.btn-danger{
	background-color: #99343c !important;
	color: #ffffff;
}
.btn-danger:hover{
	background-color: #8f2c34;
    color: #ffffff;
}
.btn-info{
	background-color: #1773d1 !important;
	color: #ffffff;
	width: 30%;
}
.btn-info:hover{
	background-color: #0e69c4;
    color: #ffffff;
}