body {
  background-color: #f8fafb; 
}
/* IMPORT FONTS */
@font-face {
  font-family: "Montserrat-Light";
  src: url(../FONTS/Montserrat/Montserrat-Light.ttf);
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url(../FONTS/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url(../FONTS/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url(../FONTS/Montserrat/Montserrat-SemiBold.ttf);
}
/* Scrollbar width reduced---snippet-- */


::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.main-container{
  min-height: 100vh;
  background-color: #171D26;
}
.navbar-light .navbar-nav .nav-link{
  color: #ffffff;
}
.active{
  color: #b3b3b3;
}
.navbar-light .navbar-nav .active>.nav-link{
	color: #b3b3b3 !important;
}
.signup,.login{
    display: none;
}
nav{
    background-color: #172a77;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 16px 11px rgba(0,0,0,0.66);
    z-index: 999;
}
.navbar button[aria-expanded="false"] > .close{
  display:none;
}
.navbar button[aria-expanded="true"] > .open{
  display:none;
}
.nav-link,.navbar-brand{
  font-family: "Montserrat-Regular";
}
.content {
    padding: 3rem 0 0 0; 
}
input::placeholder{
    font-size: 16px;
   font-family: "Montserrat-Light";
   color: #b3b3b3 !important;
}
input{
  font-size: 16px !important;
  font-family: "Montserrat-Light";
  color: #b3b3b3 !important;
}
input:focus{
	background-color: transparent;
}
a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; 
}
a:hover {
    text-decoration: none !important; 
}

.login,.signup{
  max-height: 100vh;
  height: calc(100vh - 56px);
  padding: 0;
}
.login .container,.signup .container{
  height: 100%;
}
.login .row,.signup .row{
  height: 100%;
  display: flex;
  align-items: center;
}
  
.login h2,.signup h2{
  color: #1773d1;
 font-family: "Montserrat-Bold";
  /* font-size: 31px; */
}


@media (max-width: 991.98px) {
  .content .bg {
      height: 500px; 
  } 
}
  
.content .contents, .content .bg {
    width: 50%; 
}

@media (max-width: 1199.98px) {
    .content .contents, .content .bg {
        width: 100%; 
    } 
}

.content .contents .form-group, .content .bg .form-group {
      position: relative; 
}
   
.content .contents .form-group input, .content .bg .form-group input {
    background: transparent;
    border-bottom: 1px solid #808080; 
}

.content .contents .form-group.first, .content .bg .form-group.first {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px; 
}

.content .contents .form-group.last, .content .bg .form-group.last {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px; 
}

.content .contents .form-group.focus, .content .bg .form-group.focus {
    background: #fff; 
}

.content .contents .form-control, .content .bg .form-control {
    border: none;
    padding: 0;
    font-size: 20px;
    border-radius: 0; 
}

.content .contents .form-control:active, .content .contents .form-control:focus, .content .bg .form-control:active, .content .bg .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; 
}
  
.content .bg {
    background-size: cover;
    background-position: center; 
}
  
.content a {
    color: #888;
    text-decoration: underline; 
}
  
.content .btn {
    height: 54px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: "Montserrat-Bold";
    font-size: 18px;

}
  
.content .forgot-pass {
    position: relative;
    top: 2px;
    font-size: 14px; 
    font-family: "Montserrat-SemiBold";
    color: #99343c;
}
 
#loginmsg{
	font-family: "Montserrat-SemiBold";
    color: #99343c;
}
/* carousel  */
.carousel-class{
  width: 100%;
  height: 80vh;
}
.carousel-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#ringabout{
  background-image: url(../IMG/home-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#ringabout h1{
  font-size: 50px;
  line-height: 65px;
  font-family: "PlayfairDisplay-Italic";
  font-family: "Montserrat-Bold";
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 0px 8px rgba(0,0,0,0.95);
}
#ringabout h1 span{
  /* color:#000; */
  color: #245083;
}
#mwon{
  background-image: url(../IMG/home-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card{
  border: 0 !important;
  border-radius: 0 !important;
  background: transparent !important;
}
.card h3{
  font-family: "Montserrat-SemiBold";
  font-size: 50px;
  color: #ffffff;
  text-shadow: 0px 0px 8px rgba(0,0,0,0.95);
}
.card h1{
  line-height: 8rem;
 font-family: "Montserrat-Bold";
  font-size: 70px;
  color: #ffffff;
  text-shadow: 0px 0px 8px rgba(0,0,0,0.95);
}
.about{
  /*background-image: url(../IMG/green-slate.jpg);*/
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
  /*background-position: center;*/
  background:linear-gradient(to bottom right,#070d7b,#25783b);
  padding: 3rem 7rem 6rem;
}
.about h1{
 font-family: "Montserrat-Bold";
  font-size: 43px;
  color: #cccccc;
}
.about-para{
  color: #cccccc;
  font-size: 16px;
   font-family: "Montserrat-Regular";
}
.about-para p{
  margin-bottom: 1.5rem;
}

.modal-content{
  background-color: rgba(23,29,38,0.94);
  border-radius: 40px;
  padding:0.2rem 1.8rem;
  box-shadow: 7px 7px 4px rgba(0,0,0,0.35);
}
.modal-header{
	padding-left: 0 !important;
}
.modal-title{
  font-family: "Montserrat-Bold";
  color: #cccccc;
}
.modal-body,.modal-body .container-fluid{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.modal-body h5{
  font-family: "Montserrat-SemiBold";
  font-size: 17px;
  color: #b3b3b3;
  margin-top: 0.6rem;
}
#faModalLong h2{
	font-family: "Montserrat-SemiBold";
  	font-size: 21px;
  	color: #b3b3b3;
}
.modal-body button{
  font-family: "Montserrat-Bold";
}
.close,.close:hover{
  color: #ffffff;
}

#fModalLong label{
  font-family: "Montserrat-Regular";
  font-size: 16px;
  margin-bottom: 0.3px !important;
}
#fModalLong .modal-title{
  font-family: "Montserrat-Bold";
}

#fModalLong input{
  font-family: "Montserrat-Light";
  font-size: 14px;
  color: #4d4d4d;
  background-color: transparent;
  border: 0px;
  border-bottom:1px solid #808080;
  border-radius: 0;
  padding-left: 0;
}

.signup p{
	font-family: "Montserrat-Regular";
}

.pass_submit{
  width: 70%;
  border-radius: 40px;
  font-size: 16px;
  color: #ffffff;
  font-family: "Montserrat-Bold";
  background-color: #1773d1;
}

.pass_submit:hover{
  color: #ffffff;
  background-color:#116ac4;
}

@media screen and (max-width:767px) {
  .logimg{
    margin-bottom: 2rem;
  }
  #ringabout h1{
    font-size: 2rem;
  }
  .about{
  	padding: 3rem 1.5rem 6rem;
  }
  .login,.signup{
  	max-height: none;
	height: auto;
  }
  .logbtn{
  	margin-bottom: 2rem;
  }
}